.styledHeader {
  color: var(--theme-text);
  z-index: 25;
  background: var(--theme-white);
  width: 100%;
  margin: 0 auto 1em;
  position: fixed;
  top: 0;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  h2 {
    font-weight: 300;
    text-align: center;

    margin: -0.4em 0 0.3em 0;
  }
  .location {
    position: fixed;
    right: 1em;
    top: 1.25em;
    width: 5rem;
    height: 1rem;
    border-radius: 0.5em;
    background: var(--theme-primary);
  }
}
